.header {
  position: relative;
  background-image: url(../img/img.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2.375em 0 7.5em;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: $mask;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .container {
    .wrap {
      &::after {
        content: '';
        width: 100%;
        height: 0;
        display: block;
        border: $border_gray;
        margin: 2.625em auto 8.125em;
      }
      .logo {
        text-transform: uppercase;
        margin: 0 0.9375em;

        span {
          font-weight: 900;
          font-size: $_24px;
          color: $dark_grey;
          span {
            color: $white;
            font-weight: 400;
          }
        }
      }
      .navigation {
        margin: 0 0.9375em;
        .navigation-list {
          display: flex;

          & .active {
            border-bottom: 2px solid $gray;
          }
          // .navigation-list_item
          &_item {
            // margin-left: 3em;
            padding: 0 2.125em;
            &:hover {
              border: 0;
              border-bottom: 2px solid $gray;
              transition: 0.2s;
            }

            a {
              display: inline-block;
              font-weight: 700;
              color: $white;
              font-size: $_13px;
              text-transform: uppercase;
              line-height: 1.25em;

              // &:active {
              //   color: $dark_red;
              // }
              // &:active::after {
              //   content: '';
              //   width: 8.375em;
              //   height: 0.1875em;
              //   background-color: $dark_red;
              // }
            }
          }
        }
      }
    }
    .header-title {
      @include h1;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      text-align: center;
      margin-bottom: 2rem;
      line-height: 4.696rem;
    }
    .header-text {
      @include text;
      margin-bottom: 5.125rem;
      line-height: 1.761em;
      text-align: center;
    }

    .header-batton {
      @include button;
      display: flex;
      justify-content: center;
      margin: auto;

      &:hover {
        background-color: $dark_red;
        cursor: pointer;
      }
      &:active {
        background-color: $red;
        cursor: pointer;
        filter: drop-shadow(0px 4px 4px rgb(250, 250, 250, 0.25));
      }
    }
  }
}

// Adaptive

header {
  @media (max-width: 780px) {
    .navigation {
      display: none;
    }
  }
  @media (min-width: 780px) {
    .navigation-btn {
      display: none;
    }
  }
}

//  Burger menu

.navigation-btn {
  width: 6.125em;
  height: 2em;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.navigation-btn span {
  width: 3em;
  height: 0.25em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  transition: all 0.5s;
}
.navigation-btn span:nth-of-type(2) {
  top: calc(50% - 0.75em);
}
.navigation-btn span:nth-of-type(3) {
  top: calc(50% + 0.75em);
}
